RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(\w+)/(\w+)/(\w+)$ index.php?c=$1&m=$2&a=$3 [QSA,L]
RewriteRule ^(\w+)/(\w+)$ index.php?c=$1&m=$2 [QSA,L]
RewriteRule ^(\w+)$ index.php?c=$1 [QSA,L]